.leaseForm {
  width: 100%;
}

.leaseForm-header {
  font-weight: bold;
}

.row {
  padding: 15px 0 15px 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.radio {
  display: flex;
  flex-direction: row;
}

.form-control[type=text] {
  background-color: #F6F6F6;
}

.form-select[name=jaar] {
  background-color: #F6F6F6;
}

.form-check-input:checked[type=radio]{
  background: #FFA100;
  border-color: #FFA100;
}

.form-check-label {
  margin-right: 21px;
}